* {
  cursor: url(../public/cursor.png) 4 1, pointer !important;
}
.landing {
  background-image: url("../public/map.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}

.zoom-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s;
}
.header {
  padding: 12px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  /* font-size: clamp(12px, 1vw, 18px); */
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-play {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  background: #fff;
  color: black;
  font-size: 10px;
  font-weight: 700;
  height: 44px;
  width: 110px;
}

.btn-play::before {
  content: "";
  background: url(../public/play-before.svg);
  display: block;
  width: 20px;
  height: 44px;
}
.btn-play::after {
  content: "";
  background: url(../public/play-after.svg);
  display: block;
  width: 20px;
  height: 44px;
}
.body-content {
  position: absolute;
  width: 95%;
  height: 90%;
  transform: translate(2.5%, 9%);
  align-content: center;
  border: 1px solid var(--Stroke-01, #26242c);
  z-index: 100;
  /* padding: 40%; */
}
